.dialogs {
    display: grid;
    grid-template-columns: 2fr 5fr;

}

.dialogsItems {
    grid-area: n;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    align-content: center;
}

.dialogsItems .active {
    color: gold;
    padding: 10px;
}

.messages {
    padding: 16px;
    color: rgb(0, 0, 0);
}

.dialogs img {
    width: 60px;
    height: 60px;
    border-radius: 30px;

}