.nav {
  grid-area: n;
  /* display: grid;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr; */
  background-color: rgb(200, 200, 238);
  padding: 20px;
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-12/1639781298_36-catherineasquithgallery-com-p-rozovo-sirenevii-fon-gradient-50.jpg) 4w; }

  .friends img {
 width: 60px;
 height: 60px;

   
  }
  .friends {
    text-align: center;
  }
  .item {
    text-decoration: none;
    color: white;
  }
 
  .item .active {
    color: gold;
  }