$defaulBorderRadius :5px;
$defaulFontWeight: bold;

.item {
  color: red;
  font-style: italic;
  font-weight: bold;
  text-shadow: 5px;
  margin-top: 10px;
}

.item img {
  height: 70px;
  max-width: 60px;
  border-radius: 30px;
}

.item button {
  border-radius: $defaulBorderRadius;
  font-weight: $defaulFontWeight;
  margin: 5px;
}

.message {
  color: black;
  font-weight: lighter;
  position: absolute;
  margin-top: 1.5em
}