.app-wrapper {
  margin-left: 25%;
  display: grid;
  width: 1000px;
  grid-template-areas:
    "h h"
    "n c";
    
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */


}
.loginPhoto {
  height: 40px;
  width: 40px;
  border-radius: 5px;
align-items: baseline;
}
.ava img {
  width: 200;
  height: 200;
}