body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-wrapper-content {
  grid-area: c;
  background-image: url(https://kartinkin.net/uploads/posts/2021-01/1610903476_36-p-nezhno-goluboi-krasivii-fon-58.jpg);

}
.app-wrapper-content img {
  width: 800px;
}